/*lyaout*/
#wrap {width: 1080px; margin: 0 auto;}
#header {width: 1080px;height: 85px;font-size: 25px; color: #2a3338;float: left;}
#nav {width: 1080px;height: 43px;}
#aside {float:left;width: 253px;height: 950px;}
#contents1 {float:left;width: 827px;height: 370px;}
#contents2 {float:left;width: 827px;height: 200px;}
#contents3 {float:left;width: 827px;height: 380px;}
#footer {float:left;width: 1080px;height: 95px;}
/*contents layout*/
/*header*/